/* since the .App class was the div I wanted to manipulate, I just turned it into a flexbox directly; likewise, I modified the styling of the Header directly */

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Header {
  color: #222831;
  text-shadow:
  2px 2px 1px #dddddd,
  3px 3px 1px #f05454;
  font-weight: bold;
  font-size: xx-large;
}
/* write your parent styles in here for your App.js */
